<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0ba7b3;">
    <div class="container">

      <a href="/" class="navbar-brand">
        <img src="/img/logo.png" >
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="nav justify-content-end"id="nav-principal">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a  class="nav-link" href="/hospital/patients">Pacientes</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/hospital/doctors">Médicos</a>
        </li>

         <!-- <li class="nav-item">
            <a href="" class="nav-link">Sobre</a>
          </li>
             Não será utilizado agora-->

          <li class="nav-item">
            <a href="/logout" class="btn btn-outline-light ml-4">Sair</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>