<!DOCTYPE html>
<html lang="pt-br">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="imagex" href="img/logo.png">
    <title>SIMF</title>

  </head>
  <body>
    
    <header><!-- inicio Cabecalho -->
      <nav class="navbar navbar-expand-sm" style="background-color: #0ba7b3;">
        <div class="container">

          <a href="/" class="navbar-brand">
            <img src="img/logo.png" >
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="nav justify-content-end"id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="login" class="btn btn-outline-light ml-4">Entrar</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header><!--/fim Cabecalho -->

    <main id="home"><!-- Início seção home -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex"><!-- Textos da seção -->
            <div class="align-self-center">
              <h1 class="display-4">Da UTI até sua casa</h1>
              <p>
                Tenha acesso as informações do boletim médico de seus familiares diariamente.
              </p>
              <form class="mt-4 mb-4">
                <div class="input-group input-group-lg">
                  <div class="input-group-append">
                    <p>Disponível para:
                      <a href="" class="btn btn-outline-light">
                        <i class="fab fa-android fa-lg"></i>
                      </a>
                      <a href="" class="btn btn-outline-light">
                        <i class="fab fa-apple"></i>
                      </a>
                      <a href="" class="btn btn-outline-light">
                        <i class="fab fa-windows"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div><!--/fim textos da seção -->
          <div class="col-md-6 d-none d-md-block">
            <img src="img/estetoscopio.png">
          </div>
        </div>
      </div>
    </main><!--/fim seção home -->

    <section class="caixa">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="img/informacoes.png" class="img-fluid">
            <h4>Menos erros em trocas de informações</h4>
            <p>
              Diminuição do risco de informações trocadas dos pacientes e melhor comunicação entre as equipes médicas e os responsáveis pelos pacientes.
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/relogio.png" class="img-fluid">
            <h4>Economize seu tempo</h4>
            <p>
              Com o Boletim Geral não será necessário sair de casa para ter ciência do estado em que se encontra o paciente.
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/pessoas.png" class="img-fluid">
            <h4>Evite aglomerações</h4>
            <p>
              Menos exposição a locais de possível contágio do COVID-19.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section  class="caixablue">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="img/coracao2.png" class="img-fluid">
          </div>
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Confortar famílias</h2>
              <p>
               Tranquilizar os familiares é um dos nossos principais objetivos, contamos com as atualizações diárias do paciente utilizando o boletim médico para essa função.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              <a href="index.php">Home</a>
             <!-- <a href="">Sobre</a> -->
            </p>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <a href="" class="btn btn-outline-dark">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>