<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarHospital.ejs') %>

<div class="container">
    <hr>
    <div class="card"> 
        <div class="card-header">
            <h2>Digite sua nova senha referente ao email: <%=dadosPatient.email%></h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/patients/changePatient/update">  
                    <label for=""><b>SENHA:</b></label>
                    <input class="form-control" type="password" name="senha" placeholder="Senha"><br>
                    <input type="hidden" name="internacao" value="<%=dadosPatient.internacao%>">
                    <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>


